label {
    font-size: large;
    color: darkblue;
    padding-right: 2em;
}

input {
    color: darkblue;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 0.2rem;
    width: 100px;
    text-align: center;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
    color: black;
    background-color: rgba(255, 255, 255, 0.2);
}

.mat-header-cell {
    background-color: rgba(33, 114, 67, 0.4);
}

table {
    width: 100%;
    background-color: rgba(111, 228, 159, 0.3);
}

td,
th {
    color: black;
    font-size: large;
    text-align: center !important;
    vertical-align: middle !important;
}

.select:hover {
    background-color: rgba(111, 228, 159, 0.8);
    cursor: pointer;
}

.select:active {
    background-color: rgba(111, 228, 159, 1.0);
}

.selected {
    background-color: rgba(111, 228, 159, 0.9);
}

.mat-paginator {
    background-color: rgb(61, 141, 95, 0.8);
}

:host ::ng-deep .mat-sort-header-container {
    display: flex;
    justify-content: center;
}

th.mat-header-cell,
td.mat-cell {
    text-align: center;
}

.equip {
    width: 1.8rem;
}