<app-game-field [field]="gameField" [labels]="labels" [height]="gameFieldHeight" (notify)="onNotifyGameField($event)"></app-game-field>
<div class="d-flex justify-content-around align-items-center p-2">
    <div>
        <label for="points">Points</label>
        <input id="points" readonly [value]="startField.points" *ngIf="startField">
    </div>

    <button class="btn btn-primary m-2">Buy ship</button>
    <button class="btn btn-primary m-2">Edit ship</button>
    <button class="btn btn-primary m-2">Sell ship</button>
</div>
<div class="text-center h1">Ships in reserve</div>
<div>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

            <!-- Ship type Column -->
            <ng-container matColumnDef="shipType">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Ship type </th>
                <td mat-cell *matCellDef="let row"> {{row.shipType === 1 ? "Military" : row.shipType === 2 ? "Auxiliary" : "Mixed"}}</td>
            </ng-container>

            <!-- Size Column -->
            <ng-container matColumnDef="size">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Size </th>
                <td mat-cell *matCellDef="let row"> {{row.size}}</td>
            </ng-container>

            <!-- Max hp Column -->
            <ng-container matColumnDef="maxHp">
                <th mat-header-cell *matHeaderCellDef> Max hp </th>
                <td mat-cell *matCellDef="let row">{{row.maxHp}}</td>
            </ng-container>

            <!-- Speed Column -->
            <ng-container matColumnDef="speed">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Speed </th>
                <td mat-cell *matCellDef="let row">{{row.speed}}</td>
            </ng-container>

            <!-- Equiped weapons Column -->
            <ng-container matColumnDef="weapons">
                <th mat-header-cell *matHeaderCellDef> Equiped weapons </th>
                <td mat-cell *matCellDef="let row">{{row.weapons.length}}</td>
            </ng-container>

            <!-- Equiped repairs Column -->
            <ng-container matColumnDef="repairs">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Equiped repairs </th>
                <td mat-cell *matCellDef="let row">{{row.repairs.length}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row (click)="select(row.id)" [ngClass]="{'select': true, 'selected': row.id===selectedShipId}" *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons aria-label="Select page of ships"></mat-paginator>
    </div>
</div>