/* You can add global styles to this file, and also import other style files */


/* Provide sufficient contrast against white background */

a {
    color: #0366d6;
}

code {
    color: #e01a76;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
}

button:hover,
a:hover {
    cursor: pointer;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.content-show {
    height: calc(85vh - 73px);
}

.mat-slider-thumb {
    background-color: #8051f0 !important;
}

.mat-slider-thumb-label {
    background-color: #8051f0 !important;
}

.mat-slider-track-fill {
    background-color: #8051f0 !important;
}