@using System.Diagnostics
@using System.Reflection

@{
    var version = FileVersionInfo.GetVersionInfo(Assembly.GetExecutingAssembly().Location).ProductVersion.Split('+').First();
}

<div class="welcome-page">
    <h1>
        <img src="~/icon.jpg">
        Welcome to game "Sea Battle"
        <small class="text-muted">(version @version)</small>
    </h1>

    <ul>
        <li>
            Click <a href="~/diagnostics">here</a> to see the claims for your current session.
        </li>
        <li>
            Click <a href="~/grants">here</a> to manage your stored grants.
        </li>
        <li>
            Click <a href="~/account/registration">here</a> to registration in service.
        </li>
    </ul>
</div>
