<div class="d-flex justify-content-around align-items-center p-2">
    <div>Move: <span *ngIf="game" [style.color]="getColor(game.currentPlayerMove)">{{game.currentPlayerMove}}</span></div>
    <button mat-raised-button class="btn btn-outline-primary" (click)="endMove()">End move</button>
    <mat-form-field appearance="fill">
        <mat-label>Messages</mat-label>
        <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" readonly="true" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="3">{{message}}</textarea>
    </mat-form-field>
</div>
<app-game-field [field]="gameField" [labels]="labels" [height]="gameFieldHeight" [selectedShipId]="selectedShip?.id ?? 0" [clickCell]="clickCell" (notifyDblClick)="onNotifyGameFieldDblClick($event)" (notifyClick)="onNotifyGameFieldClick($event)" (notifyMouseDown)="onNotifyGameFieldMouseDown($event)"
    (notifyMouseOver)="onNotifyGameFieldMouseOver($event)" (notifyMouseUp)="onNotifyGameFieldMouseUp($event)"></app-game-field>